.App {
  text-align: center;
}
.no-scroll{
  overflow: hidden;
}
.error{
  background-color: #ff867c;
}
.text-primary{
  color: #00838f
}
.text-secondary{
  color: #ffb300;
}
.hidden{
  display: none;
}
.primary{
  background-color: #00838f
}
.secondary{
  background-color: #ffb300;
}
.content{
  margin: 0 auto;
  width:70vw;
  max-width:80vw;
  border: 0px solid red;
}

#logo-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Exo 2", sans-serif;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.nav ul{
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.nav ul li a, .nav ul li a:visited{
  font-size: .6em;
  color: white;
  margin-right: 1em;
  text-decoration: none;
  font-family: 'raleway', sans-serif;
}
.nav ul li a:hover{
  color: #ffb300;
  margin-right: 1em;
  text-decoration: underline;
}
.nav ul li a.active{
  color: black;
  background-color: #ffb300;
  margin-right: 1em;
  text-decoration: none;
  padding:.3em 1em;
}
.logo {
  margin-right: 1em;
  width:120px;
  height:80px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  height:100vh;
  background-image: url('bg.jpg');
  background-size: cover;
  z-index: -100;
}

.head-text{
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-text h1, .head-text h2{
  font-family: "raleway", sans-serif;
}
.head-text h3,.head-text h4{
  font-family: "exo 2", sans-serif;
}
.header-button{
  text-align: center;
  background-color: #ffb300;
  padding: .5em 1em;
  font-family: "raleway", sans-serif;
  font-size: 1.2em;
  color: black;
  width: 30%;
  margin-top: 2em;
  cursor: pointer;
}
.header-button:hover{
  text-align: center;
  background-color: teal;
  padding: .5em 1em;
  font-family: "raleway", sans-serif;
  color: white;
  width: 30%;
}
.contact-form{
  color: teal;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25vh;
  z-index: 1000;
  width: 30%;
  height:auto;
  background-image: url('form-bg.png');
  background-size: cover;
  padding: 0.5em 1em;
}
.contact-form input[type=email], .contact-form input[type=text]{
  border: 1px solid teal;
  height: 2.5em;
}
.contact-form input[type=submit]{
  height: 2.5em;
  font-family: 'raleway',sans-serif;
  color: white;
  text-transform: uppercase;
  width: 30%;
  cursor: pointer;
  margin-bottom: 3em;
}
.contact-form textarea{
  height: 15em;
}
.contact-form .form-input{
  margin-top: 1em;
  padding: .3em 1em;
  font-size: .5em;
  width: 90%;
}
.contact-form .control{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.contact-form .control span{
  cursor: pointer;
}
.App-section {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.footer {
  background-color: #102027;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
